:root {
  scroll-behavior: smooth;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page {
  min-width: 540px;
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Press Start 2P', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}