.canvas {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../../images/background_city.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.canvas__game-area {
  margin: auto auto 170px 0 ;
  width: calc(100% - 170px);
  height: 15vh;
  position: relative;
}